<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ProjectBA</title>    
</head>



<body>
    <div class = "outer">
        <h2>ProjectBA</h2>
        <div class="answer">
            
            <p id="message">
                
            </p>
        </div>    
        <div class="chat">
            <form id="prompt" onsubmit="event.preventDefault();">
                <textarea name="text" id ="text" placeholder="Ask a question to the database..."></textarea>
                <input type="submit">
            </form>
        </div>
    </div>

    


    <script>       
        const prompt = document.getElementById("prompt");
        prompt.addEventListener("submit", getAnswer);
        function getAnswer(){
            let text = document.getElementById("text").value;
            console.log(text);
            let data = new FormData()
            data.append("text",text );
            const answer = document.getElementById("message");
            fetch('/submit', {
                method: "POST",
                "body": data,
            })
            .then(response => response.json())
            .then(data => answer.textContent = data.message)
            .catch(error => cosnole.error('Error fetching the message', error));
            
        }
    </script>


</body>

